<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book</title>
  </head>
  <body>
    <% if (book){ %>
    <h1>Name | Category | Price</h1>
    <ul>
      <li style="font-size: x-large">
        <%= book.name %> | <%= book.category %> | <%= book.price %>
      </li>
    </ul>
    <% } else { %>
    <h1>Invalid Book Id</h1>
    <% } %>
  </body>
</html>
